<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Home | E-Shopper</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/prettyPhoto.css" rel="stylesheet">
        <link href="/css/price-range.css" rel="stylesheet">
        <link href="/css/animate.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]-->       
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
		<style>
			.xzoom-thumbs img {
				display: inline-block;
				height: 80px;
				width: 80px;
				border: 1px solid #ccc;
			}
		
			.zoomed-image-container {
				display: none; /* Initially hide the container */
				position: absolute;
				top: 0;
				left: 100%; /* Position to the right of the main image */
				margin-left: 10px; /* Add some spacing */
				width: 80px; /* Adjust the width as needed */
			}
			.profile-photo {
				width: 150px; /* Adjust the width and height to your preference */
				height: 150px;
				border-radius: 50%; /* Makes the photo appear as a circle */
				overflow: hidden; /* Ensures the image is contained within the circle */
				border: 2px solid #fff; /* Add a white border around the photo if desired */
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow to the photo */
			  }
			  
			  .profile-photo img {
				width: 100%;
				height: 100%;
				object-fit: cover; /* Ensures the image covers the entire circle */
			  }
			  .single-products {
				display: flex;
				justify-content: center; 
				align-items: center; 
			/
			  }

			  
		</style>
		<style>
			.error-message {
				color: red;
				display: none;
			}
		</style>
		


    </head><!--/head-->

<body>
	<header id="header"><!--header-->
	
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="../images/home/logo.png" alt="" /></a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/getAccount"><i class="fa fa-user"></i> Account</a></li>
								<!-- <li><a href="/getWishlist"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="/getCheckout"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
								<li><a href="/getCart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li>
									<form action="/logout" method="post">
										<button type="submit" class="btn btn-default">Logout</button>
								    </form>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" >Home</a></li>
								<li><a href="/shop" class="active">Shop</a></li> 
							
								
								<li><a href="/contact">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
			
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center"></h2>
                    </div>
				</div>
			</div>					
				

   
		    
			<div class="row">
				
				<div class="col-sm-4">
					<div class="col-sm-12">
						<div class="product-image-wrapper">
							<div class="single-products align-item-center">
									<div class="productinfo text-center">
									
										<div  class="profile-photo">
											<img src="/views/productImages/profile.jpg" alt="" id="zoom-image">
										</div>
                                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                                            <!-- <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                                           
                                                            edit profile
                                                        </a>
                                                    </h4>
                                                </div>
                                                
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                                                          
                                                            orders
                                                        </a>
                                                    </h4>
                                                </div>
                                                
                                            </div> -->
											<div class="panel panel-default">
												<div class="panel-heading">
													<h4 class ="panel-title">
														<a href="/showAddress">Show Address</a>
													</h4>
												</div>
											</div>
                                            <!-- <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                                                          
                                                            add address
                                                        </a>
                                                    </h4>
                                                </div>
                                               
                                            </div> -->
                                            <!-- <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"><a href="#">change password</a></h4>
                                                </div>
                                            </div> -->
                                            
                                        </div>
                                    </div>
							</div>
						</div>
											
					</div>
				</div>
					<div class="col-sm-8">
						<div class="error-message" id="error-message">
							
						</div>
                        <p><h4>Add Address</h4></p>
                        <div class="form-one">
                            <form action="/address" method="post" >
                                <input type="text" placeholder="Name" name="name" id="name">
                                <input type="text" placeholder="Number" name="number" id="number">
                                <input type="text" placeholder="Email" name="email" id="email">
                                <input type="text" placeholder="House Name" name="houseName" id="houseName">
                                <input type="text" placeholder="House Number" name="houseNumber" id="houseNumber">
                                <input type="text" placeholder="State" name="state" id="state">
                                <input type="text" placeholder="city" name="city" id="city">
                                <input type="text" placeholder="street" name="street" id="street">
                                <input type="text" placeholder="Landmark" name="landmark" id="landmark">
                                <input type="text" placeholder="Pin Code" name="pin" id="pin">
                                <!-- <a class="btn btn-default update" href="">Update</a> -->
                                <button type="submit" class="btn btn-default update" onclick="return  validate()">Add Address</button>
                                <br>
                                <br>
                            </form>
                        </div>
                        
					
						<p></p>
						<h4></h4>
					</div>
                    
				</div>
				
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		
		
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<form action="#" class="searchform">
								<input type="text" placeholder="Your email address" />
								<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
								<p>Get the most recent updates from <br />our site and be updated your self...</p>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 BoysWorld Inc. All rights reserved.</p>
					
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->

    <script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.scrollUp.min.js"></script>
	<script src="../js/price-range.js"></script>
    <script src="../js/jquery.prettyPhoto.js"></script>
    <script src="../js/main.js"></script>

	<script>
		function validate(){
			const name = document.getElementById("name").value;
			const number = document.getElementById("number").value;
			const email= document.getElementById("email").value;
			const houseName = document.getElementById("houseName").value;
			const houseNumber = document.getElementById("houseNumber").value;
			const state = document.getElementById("state").value;
			const city = document.getElementById("city").value;
			const street = document.getElementById("street").value;
			const landmark = document.getElementById("landmark").value;
			const pin= document.getElementById("pin").value;
			const errorMessage = document.getElementById("error-message");
			const phonePattern = /^(?=.*[1-9])\d{10}$/;
			
			
			function isValidEmail(email) {
				// Regular expression for a simple email validation
				const emailRegex = /^[^\s@]+@gmail\.com$/;
				return emailRegex.test(email);
			}

			

			function checkWhiteSpace(s){
				return s.trim() === "";
			}

			if (name==='' && number===""  && email===""  && houseName===""  && state===""  && city==="" && street===""  && landmark==="" && pin==="" ) {
				errorMessage.innerText = "Please fill in all the fields.";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}

			if(name === ""){
				errorMessage.innerText = "Please enter Name";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}

			if(checkWhiteSpace(name)){
				errorMessage.innerText ="please enter your name";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			if(number === ""){
				errorMessage.innerText = "Please enter your number";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}

			if(number <= 0){
				errorMessage.innerText = "Please enter valid Phone Number";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}

			if(checkWhiteSpace(number)){
				errorMessage.innerText ="please enter your number";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			if(!phonePattern.test(number)){
				errorMessage.innerText = "please enter a valid phone  number.";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}

			if(email === ""){
				errorMessage.innerText = "please your email address";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}

			if (!isValidEmail(email)) {
				errorMessage.innerText = "Please enter a valid email address";
				errorMessage.style.display = "block";
		
				setTimeout(function () {
					errorMessage.style.display = "none";
				}, 3000);
				return false;
			}
 
			if(houseName === ""){
				errorMessage.innerText = "Please enter your House Name";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}

			if(checkWhiteSpace(houseName)){
				errorMessage.innerText ="please enter your House Name";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			if( houseNumber === ""){
				errorMessage.innerText = "Please enter your house number";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}
			if(checkWhiteSpace(houseNumber)){
				errorMessage.innerText ="please enter your House Number";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			if(state === ""){
				errorMessage.innerText = "Please enter your State";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}

			if(checkWhiteSpace(state)){
				errorMessage.innerText ="please enter your state";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			if(city === ""){
				errorMessage.innerText = "Please enter your city";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}

			if(checkWhiteSpace(city)){
				errorMessage.innerText ="please enter your city";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			if(street === ""){
				errorMessage.innerText = "Please enter your street";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}

			if(checkWhiteSpace(street)){
				errorMessage.innerText ="please enter your street";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			if(landmark === ""){
				errorMessage.innerText = "Please enter your Land Mark";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}
			if(checkWhiteSpace(landmark)){
				errorMessage.innerText ="please enter your landmark";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			if(pin === ""){
				errorMessage.innerText = "Please enter your pincode";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			}

			if(checkWhiteSpace(pin)){
				errorMessage.innerText ="please enter your pin";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			return true;

		}
	</script>
	

</body>
</html>