<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | E-Shopper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<style>
        .error-message {
            color: red;
            display: none;
        }
		body {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
		}
		footer {
			margin-top: auto;
		}

		
			  /* Style for the modal container */
			  .modal {
				display: none; /* Hidden by default */
				position: fixed; /* Stay in place */
				z-index: 1; /* Sit on top */
				left: 0;
				top: 0;
				width: 100%; /* Full width */
				height: 100%; /* Full height */
				background-color: rgba(0, 0, 0, 0.7); /* Black with a little transparency */
			}
	
			/* Style for the modal content */
			.modal-content {
				background-color: #fefefe;
				margin: 15% auto; /* 15% from the top and centered */
				padding: 20px;
				border: 1px solid #888;
				width: 50%; /* Could be more or less, depending on screen size */
			}
	
			/* Style for the close button */
			.close {
				color: #aaa;
				float: right;
				font-size: 28px;
				font-weight: bold;
			}
	
			.close:hover,
			.close:focus {
				color: black;
				text-decoration: none;
				cursor: pointer;
			}
			.modal-style{
				display: flex;
			}
			.modal-text{
				display: flex;
				justify-content: center; 
				align-items: center;     
				width: 100%;             
				height: 100%;
				padding-top: 20%;
			}
			.form-one {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
			  }
			  .section{
				justify-content: center;
				align-items: center;
			 }
			 .row {
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.login-form{
			   
				justify-content: center;
				align-items: center; 
			}
    </style>
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.html"><img src="images/home/logo.png" alt="" /></a>
						</div>
						
					</div>
					
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/">Home</a></li>
							
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section  ><!--form-->
		<div class="container ">
			<div class="row ">
				<div class="col-sm-6 col-sm-offset-1">
					<!--login form-->
					<div class="parent-div">
						<div class="login-form">
							<h2>Login to your account</h2>
							<div class="error-message" id="error-messsage"></div>
							<br>
							<br>
							<% if(message) { %>
							   <p style="color: black;"><%= message %></p>
							<% } %>
							<form action="/loginUser" method="post" onsubmit="return validateform()">
								<input type="email" id="emailid" name="Email" placeholder="Email Id" />
								<input type="password" id="password" name="Password" placeholder="Password" />
								<br>
								<h5 id="forgotPassword">Forgot your password?<a href="#">Reset password</a></h5>
								
								<h5>New User?<a href="/signup">SignUp</a></h5>
								<button type="submit" class="btn btn-default">Login</button>
							</form>
						</div>
					</div>
				
					<!--/login form-->
				</div>
				
			</div>
		</div>

		<!-- modal1 for password reset  -->
		<div id="myModal" class="modal">
			<div class="modal-content">
				 <span class="close" id="closeModalBtn">&times;</span>
				 <div class="modal-style">
					 <div class="container">
						 <h4 class="text text-center">Enter your email and we'll send you a link to reset your password</h4>
						
						  <div class="form-one" style="width: 100%;">
							 <form class="signup-form" action="">
								<input type="email" name="variEmail" id="variEmail" placeholder="Enter your registered email " pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Please enter a valid email address">
								<div class="error-message" id="error-message"></div>
								
								<a href="/signup" class="btn btn-default update " id="signinBtn" style="display: none;" >SignUp</a>
								 <a href="#" class="btn btn-default update " id="sentOtp" onclick="sentOTP()" id="sentOtp">Sent OTP</a>

							 </form>
						  </div>
						
					 </div>
				 </div>
			</div>
		 </div>


		 <!-- modal2 after otp send -->
		 <div id="afterOtpSend" class="modal">
			<div class="modal-content">
				 <span class="close" id="closeModalBtn2">&times;</span>
				 <div class="modal-style">
					 <div class="container">
						<h4>Please enter the OTP</h4>
						
						  <div class="form-one" style="width: 100%;">
							 <form class="signup-form" action="">
								
								<input type="text" name="otpConform" id="otpConform" placeholder="Enter the Otp " >
								<div class="error-message" id="error-message2"></div>
								<p id="otpExpiryTime"></p>
								 <a href="#" class="btn btn-default update " id="conformOtp" onclick="conformOtp()" >Conform OTP</a>
								<button class="btn btn-default update " id="reSentOtp" >Resent OTP</button>

							 </form>
						  </div>
						
					 </div>
				 </div>
			</div>
		 </div>


		 <!-- modal3 for reset password  -->
		 <div id="resetPassword" class="modal">
			<div class="modal-content">
				 <span class="close" id="closeModalBtn3">&times;</span>
				 <div class="modal-style">
					 <div class="container">
						
						
						  <div class="form-one" style="width: 100%;">
							 <form class="signup-form" action="">
								<label for="">Enter new password</label>
								<br>
								<div class="error-message" id="error-message3"></div>
                                <br>
								<input type="password" name="new" id="newPass" placeholder="Enter new password" >
								<label for="">Conform new password</label>
								<input type="password" name="cPass" id="cPass" placeholder="Conform password" >
								<div class="error-message" id="error-message3"></div>
								 <a href="#" class="btn btn-default update " id="resetPass" onclick="resetpassword()" >Reset Password</a>
							 </form>
						  </div>
						
					 </div>
				 </div>
			</div>
		 </div>

		  <!-- modal4 for conformation message for password resetted   -->
		  <div id="conformationReset" class="modal">
			<div class="modal-content">
				 <span class="close" id="closeModalBtn4">&times;</span>
				 <div class="modal-style">
					 <div class="container">
						
						
						  <div class="form-one" style="width: 100%;">
							<div>
								<h5 id="message"></h5>
							</div>
						  </div>
						
					 </div>
				 </div>
			</div>
		 </div>
	</section><!--/form-->
	
	
	<footer id="footer"><!--Footer-->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 BoysWorld Inc. All rights reserved.</p>
					
				</div>
			</div>
		</div>
	</footer><!--/Footer-->
	

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>

	<script>
		document.addEventListener("DOMContentLoaded",function(){
			const resendButton = document.getElementById("reSentOtp");
			resendButton.disabled = true;
		})
		updateExpiryTime();
	</script>
	<script>
		function validateform(){
			const emailid= document.getElementById('emailid').value;
			const password = document.getElementById('password').value;
			const errorMessage = document.getElementById('error-messsage');
			console.log("on validation");

			function isValidEmail(email) {
				// Regular expression for a simple email validation
				const emailRegex = /^[^\s@]+@gmail\.com$/;
				return emailRegex.test(email);
			}

			function checkWhiteSpace(s){
				return s.trim() === "";
			}

			if(emailid === ""  && password ==="" ){
				errorMessage.innerText = "Please fill in all the fields.";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
				return false;
			
		    }
			if(emailid === ""){
					
				errorMessage.innerText ="please enter your Email id";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}
			if (!isValidEmail(emailid)) {
				errorMessage.innerText = "Please enter a valid email address";
				errorMessage.style.display = "block";
		
				setTimeout(function () {
					errorMessage.style.display = "none";
				}, 3000);
				return false;
			}

			if(password === ""){
				errorMessage.innerText ="please enter your Password";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}

			if(checkWhiteSpace(password)){
				errorMessage.innerText ="please enter a Valid Password";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }
			return true;
	    }

	</script>

	<!-- modal1 for password reset -->
	<script>
		var modal = document.getElementById('myModal');
		var modal2 = document.getElementById('updatedModal');
		var openModalBtn = document.getElementById("forgotPassword");
		var closeModalBtn = document.getElementById("closeModalBtn");

        //to open the modal
        openModalBtn.onclick = function(){
			modal.style.display = "block";
		}

		//to close the modal
		closeModalBtn.onclick = function(){
			modal.style.display = "none";
		}
         
		//close the modal if the user clicks the outside of it 
		window.onclick = function(event){
			if(event.target == modal){
				modal.style.display = "none";
			}
		}

	


	</script>

	<!-- validating the email for password reset -->
	<script>
		function sentOTP(){
             const email = document.getElementById("variEmail").value;
			 const emailInput = document.getElementById("variEmail");
			 const errorMessage = document.getElementById("error-message");
			 var modal2 = document.getElementById("afterOtpSend");
			 var modal = document.getElementById('myModal');
			 const signinBtn = document.getElementById("signinBtn");

			 function isValidEmail(email) {
				// Regular expression for a simple email validation
				const emailRegex = /^[^\s@]+@gmail\.com$/;
				return emailRegex.test(email);
			}

             if(email === ""|| email === null){
				errorMessage.innerText = "please Enter the email address!";
				errorMessage.style.display = "block";

				setTimeout(function(){
					errorMessage.style.display = "none";
				},3000);
				return false;
			
			 }

			 if (!isValidEmail(email)) {
				errorMessage.innerText = "Please enter a valid email address";
				errorMessage.style.display = "block";
		
				setTimeout(function () {
					errorMessage.style.display = "none";
				}, 3000);
				return false;
			}

			$.ajax({
				type:'POST',
				url:'/sendResetOtpmail',
				data:JSON.stringify({email:email}),
				contentType:'application/json',	
				dataType:'json',
				success:function(response){
				    
					console.log("hello");
					console.log("message:",response.message);
					console.log(response.count);

                     if(response.count === 1){
						$('#variEmail').val('');
						errorMessage.innerText = "provided email address is not in the database ,you need to Sign Up  ";
						errorMessage.style.display = "block";
						setTimeout(function () {
							errorMessage.style.display = "none";
							signinBtn.style.display = "none";
						}, 5000);
						signinBtn.style.display = "block";
					 }else{
						modal2.style.display = "block";
					 }
					
				},
				error: function(error){
					console.error("error while updating user data ",error);
				}
			});
		//to close the modal2
		closeModalBtn2.onclick = function(){
			modal.style.display = "none";
			modal2.style.display = "none";
		}
         
		//close the modal2 if the user clicks the outside of it 
		window.onclick = function(event){
			if(event.target == modal2){
				modal2.style.display = "none";
			}
		}
		}


		//conform otp function
		function conformOtp(){
			const otp = document.getElementById("otpConform").value;
			const modal3 = document.getElementById("resetPassword");
			const closeModalBtn3 = document.getElementById("closeModalBtn3");
			const errorMessage = document.getElementById("error-message2");
			
			if(otp === "" ){
				errorMessage.innerText = "please fill the fields";
				errorMessage.style.display = "block";

				setTimeout(function(){
					errorMessage.style.display = "none";
				},3000);

				return false;
			}

			$.ajax({
				type:'POST',
				url:'/conformOTPResetPassword',
				data:{
					otp : otp,
				},success:function(response){
                       if(response.success){
						modal3.style.display = "block";
					   }else{

						errorMessage.innerText = "incorrect OTP";
						errorMessage.style.display = "block";
		
						setTimeout(function(){
							errorMessage.style.display = "none";
						},3000);
					   }
					  
				},
				error: function(error){
					console.log("error while updating user data ",error);
				}
			});

						//to close the modal2
				closeModalBtn3.onclick = function(){
					
					modal3.style.display = "none";
				}
				
				//close the modal2 if the user clicks the outside of it 
				window.onclick = function(event){
					if(event.target == modal3){
						modal3.style.display = "none";
					}
				}
		}

		
	


		function resetpassword(){
			const newPass = document.getElementById("newPass").value;
			const cPass = document.getElementById("cPass").value;
			const errorMessage = document.getElementById("error-message3");
			const conformationMessage = document.getElementById("message");
			var modal4 = document.getElementById("conformationReset");
			const closeModalBtn4 = document.getElementById("closeModalBtn4");
			var modal = document.getElementById('myModal');
			var modal2 = document.getElementById("afterOtpSend");
			var modal3 = document.getElementById("resetPassword");

			const  closeModalBtn2 = document.getElementById("closeModalBtn2");
			const closeModalBtn3 = document.getElementById("closeModalBtn3");
			function checkWhiteSpace(s){
				return s.trim() === "";
			}

			if(newPass === "" && cPass === ""){
				errorMessage.innerText = "please fill the fields";
				errorMessage.style.display = "block";

				setTimeout(function(){
					errorMessage.style.display = "none";
				},3000);
				return false;
			
			}

			if(checkWhiteSpace(newPass)){
				errorMessage.innerText ="please enter a valid password";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			  if(newPass.length < 4 ){
				errorMessage.innerText = "Password strength is atleast 4 ";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			  }

			  if(checkWhiteSpace(cPass)){
				errorMessage.innerText ="please enter a valid conform password";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }


			if(newPass !== cPass){
				errorMessage.innerText = "Passwords are not match";
				errorMessage.style.display = "block";

				setTimeout(function(){
					errorMessage.style.display = "none";
				},3000);
				return false;
			}
            $.ajax({
				type:'POST',
				url:'/resetPasswordLogin',
				data:{
					newPass: newPass,
				},success:function(response){
                    
						modal4.style.display = "block";
						conformationMessage.innerText = response.message;
						
					  
					  
				},
				error: function(error){
					console.log("error while updating password ",error);
				}
			});
            			//to close the modal4
				closeModalBtn4.onclick = function(){
					
					modal4.style.display = "none";
					modal3.style.display = "none";
					modal2.style.display = "none";
					modal.style.display = "none";
				}
				
				//close the modal4 if the user clicks the outside of it 
				window.onclick = function(event){
					if(event.target == modal4){
						modal4.style.display = "none";
						modal3.style.display = "none";
						modal2.style.display = "none";
						modal.style.display = "none";
					}
				}
		}
	</script>

	<script>
		const resendButton = document.getElementById("reSentOtp");
		const otpExpiryTimeElement = document.getElementById('otpExpiryTime');
		var modal2 = document.getElementById("afterOtpSend");
		var modal = document.getElementById('myModal');
		const closeModalBtn2 = document.getElementById("closeModalBtn2");
		let otpExpiryTime = 30; // Set the OTP expiry time in seconds (e.g., 300 seconds = 5 minutes)
		
		function updateExpiryTime() {
			if (otpExpiryTime > 0) {
				otpExpiryTimeElement.textContent = `OTP will expire in ${otpExpiryTime} seconds`;
				otpExpiryTime -= 1;
			} else {
				otpExpiryTimeElement.textContent = '';
				resendButton.disabled = false;
			}
		}
		
		
		// Update the OTP expiry time every second
		setInterval(updateExpiryTime, 1000);
		
		resendButton.addEventListener('click', () => {
			resendButton.disabled = true;
			otpExpiryTime = 30;
			updateExpiryTime();
		});
         
		
		resendButton.addEventListener("click",function(event){
			event.preventDefault();
			$.ajax({
				type:'POST',
				url:'/reSendotpResetPassword',
				data:{
					
				},success:function(response){
					   if(response.success){
						modal2.style.display = "block";
					   }
					  
				},
				error: function(error){
					console.log("error while updating user data ",error);
				}
			});
		   })
		   
   
		closeModalBtn2.onclick = function(){
				
			modal2.style.display = "none";
		}

	</script>



	
</body>
</html>