<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | E-Shopper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<style>
        .error-message {
            color: red;
            display: none;
        }

		body {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
		}
		footer {
			margin-top: auto;
		}
		.box {
			flex: 1; /* Allow the section to take the remaining vertical space */
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.logo-box {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%; /* Ensure the column takes the full height of its parent */
			margin-right: 145px;
		}
		
		.home-menu {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%; /* Ensure the column takes the full height of its parent */
			margin-left: 455px;
		}
		.logo {
			margin: 0 auto; /* Center the logo horizontally */
		}
		
		.mainmenu {
			text-align: center; /* Center the main menu items */
		}

		
		.signup-form h2 {
			text-align: center; /* Center the h2 tag */
		}
		
		.signup-form button {
			width: 100%; /* Make the button fill the width of the container */
		}

	

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
		}

		/* Firefox */
		input[type=number] {
		-moz-appearance: textfield;
		}

		.accordion {
            display: flex;
            flex-direction: column;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }

        #referal:checked ~ .accordion {
            max-height: 1000px; /* Adjust this value according to the expected height of your content */
        }

        .accordion input {
            margin-bottom: 10px;
        }
	
		#referal {
			display: none;
		}
		#referalClick{
			cursor: pointer;
		}

		.signup-form {
			text-align: center; /* Center the content within the form */
		}
		
		#referalClick {
			display: inline-block; /* Make the label an inline block */
			width: 100%; /* Set the label width to 100% */
			text-align: center; /* Center the text within the label */
			cursor: pointer;
		}
	
		
		
    </style>
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="logo-box ">
						<div class="col-sm-4">
							<div class="logo pull-left">
								<a href="/"><img src="images/home/logo.png" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row" >
					<div class="home-menu">
						<div class="col-sm-9">
							<div class="mainmenu pull-left">
								<ul class="nav navbar-nav collapse navbar-collapse">
									<li><a href="/">Home</a></li>
								
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section ><!--form-->
		<div class="container">
			<div class="row">
				<div class="box">
					<div class="col-sm-6 ">
						<div class="signup-form"><!--sign up form-->
							<h2>New User Signup!</h2>
							<div class="error-message" id="error-message">
							</div>
							<form action="#"  >
								<input type="text" name="username" id="username" placeholder="Name" />
								<input type="email" name="email" placeholder="Email Address" id="email" />
								<input type="number" name="phonenumber" placeholder="Phone Number" id="number" />
								<input type="password" name="password" placeholder="Password" id="pass" />
								<input type="password" placeholder="Confirm Password" id="cpass" />

									  <!-- Referral Code Accordion -->
									  <input type="checkbox" id="referal">
									  <label for="referal" id="referalClick">Click Here to Use the referral Code</label>

									  <div class="accordion">
										  <input type="text" id="referralCode" name="referralCode" placeholder="Enter referral code">
									  </div>
									  <br>
									  <br>


								<button type="submit" class="btn btn-default" onclick="validateForm(event)">Signup</button>
							
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!--/form-->
	
	
	<footer id="footer"><!--Footer-->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 BoysWorld. All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer><!--/Footer-->
	
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
	<script>

		var referalCheckbox = document.getElementById('referal');
		var referalLabel = document.getElementById('referalClick');
		var referralCodeInput = document.getElementById('referralCode');

		referalCheckbox.addEventListener('click', function() {
			if (this.checked) {
				referalLabel.innerText = "Click Here to Remove the Referral Code";
			} else {
				referalLabel.innerText = "Click Here to Use the referral Code";
				referralCodeInput.value = "";
			}
		});

		function validateForm(event){
			event.preventDefault();

			const username = document.getElementById('username').value;
			const email = document.getElementById('email').value;
			const number = document.getElementById('number').value;
			const pass = document.getElementById('pass').value;
			const cpass = document.getElementById('cpass').value;
			let referralCode = document.getElementById("referralCode").value
			const errorMessage = document.getElementById('error-message');
			const phonePattern = /^(?=.*[1-9])\d{10}$/;
           console.log("referal code is :",referralCode);
			errorMessage.innerHTML = '';
			function checkWhiteSpace(s){
				return s.trim() === "";
			}

			function isValidEmail(email) {
				// Regular expression for a simple email validation
				const emailRegex = /^[^\s@]+@gmail\.com$/;
				return emailRegex.test(email);
			}

			if(username ===""&&email === ""&& number ==="" &&pass === ""  &&cpass === "" ){
				errorMessage.innerText = "Please fill in all the fields.";
                errorMessage.style.display = "block";

                // Hide the error message after 3 seconds
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}
			
   
			if(username === ""  ){
				errorMessage.innerText ="please enter your name";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}

			if(checkWhiteSpace(username)){
				errorMessage.innerText ="please enter your name";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }

			  if (!isNaN(parseFloat(username))) {
				errorMessage.innerText = "Please enter a valid Name";
				errorMessage.style.display = "block";
		   
				setTimeout(() => {
					errorMessage.style.display = "none";
				}, 3000);
		   
				return false;
			}

			if(email === ""){
				errorMessage.innerText = "please enter your email address";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}
           
			if (!isValidEmail(email)) {
				errorMessage.innerText = "Please enter a valid email address";
				errorMessage.style.display = "block";
		
				setTimeout(function () {
					errorMessage.style.display = "none";
				}, 3000);
				return false;
			}

			if(number === "" || !phonePattern.test(number)){
				errorMessage.innerText = "please enter a valid phone  number.";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}


			if(pass === ""){
				errorMessage.innerText = "please enter a password";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}

			if(checkWhiteSpace(pass)){
				errorMessage.innerText ="please enter your password";
				errorMessage.style.display = "block";
				setTimeout(function () {
				  errorMessage.style.display = "none";
				}, 3000);
				return false;
			  }
              
			  if(pass.length < 4 ){
				errorMessage.innerText = "Password strength is atleast 4 ";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			  }

			  if(cpass === ""){
				errorMessage.innerText = "please conform password";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			  }

			  if(checkWhiteSpace(cpass)){
				errorMessage.innerText = "please conform password";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			  }

			if(cpass === "" || pass != cpass){
				errorMessage.innerText = "passwords do not match";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}

			if(referralCode != "" && checkWhiteSpace(referralCode)){
				errorMessage.innerText = "please enter a valid referal code";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}
 
			if(referralCode != "" && referralCode.length != 5){
				errorMessage.innerText = "Referral code strength must be 5";
                errorMessage.style.display = "block";
				
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);

				return false;
			}

		    $.ajax({
				type:'POST',
				url:'/signupUser',
				data:{
					username,
					email,
					number,
					pass,
					cpass,
					referralCode,

				},
				success:function(response){
					if(response.message){
						errorMessage.innerHTML = response.message;
						errorMessage.style.display="block";
						setTimeout(function(){
							errorMessage.style.display = "none";
						},3000)
					}else{
						window.location = '/getOtpPage';
					}
				},
				error:function(error){
					console.error("error occured while signup");
				}
			})
		

			
		}
	</script>
</body>
</html>