<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
  </head>
  <body>
    <h1>Something went wrong.</h1>
    <p>Error : <%= errorMessage %></p>
    <a href="/admin">Back to Dashboard</a>
  </body>
</html>
